<style>
    .u-hidden {
        display: none;
    }
    code {
        display: block;
        font-family: monospace;
        font-size: 11px;
        color: hsl(0, 0%, 40%);
    }
    .grid {
        display: flex;
        flex-wrap: wrap;
    }
    .item {
        position: relative;
        display: inline-block;
        margin: 10px;
        width: 120px;
        height: 100px;
        text-align: center;
    }
    .icon {
        display: inline-block;
        border: 1px solid hsl(0, 0%, 90%);
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
    }
</style>

<div class="u-hidden">
    {{{system}}}
</div>

<div class="grid">
    {{#each symbols}}
        <div class="item">
            <svg class="icon">
                <use xlink:href="#{{name}}"></use>
            </svg>
            <code>#{{name}}</code>
        </div>
    {{/each}}
</div>
